# 1.	Write a Python Program to Find the Factorial of a Number?

In [4]:
def factorial(x):
    if x == 1:
        return 1
    else:
        return (x*factorial(x-1))
        
x= int(input('Enter Desired Number: '))
        
factorial (x)

Enter Desired Number: 4

24

# 2.	Write a Python Program to Display the multiplication Table?

In [22]:
def multiplication_table(num):
    
    """This funtion will provide the multiplication table of any given number"""
       
    for i in range(1,11):
        print(num,'x', i, '=', num*i)
    
num = int(input('Enter Desired Number: ')) 
    
multiplication_table(num)

Enter Desired Number: 15
15 x 1 = 15
15 x 2 = 30
15 x 3 = 45
15 x 4 = 60
15 x 5 = 75
15 x 6 = 90
15 x 7 = 105
15 x 8 = 120
15 x 9 = 135
15 x 10 = 150

# 3.	Write a Python Program to Print the Fibonacci sequence?

In [23]:
def fibonacci_seq(num):
    if num ==0:
        return 0
    elif num == 1 or num == 2:
        return 1
    else:
        return fibonacci_seq(num-1) + fibonacci_seq(num-2)

num = int(input('enter desired number: '))

fibonacci_seq(num)

enter desired number: 6

8

# 4.	Write a Python Program to Check Armstrong Number?

In [26]:
num = int(input('Enter the number: '))

sum = 0

temp = num

while temp > 0:
    digit = temp % 10
    sum += digit ** 3
    temp //= 10
    
if num == sum:
    print(num, 'is an Armstrong Number' )
    
else:
     print(num, 'is not an Armstrong Number' )

Enter the number: 12345
12345 is not an Armstrong Number

# 5.	Write a Python Program to Find Armstrong Number in an Interval?

In [1]:
lower = 100
upper = 100000

for num in range(lower, upper + 1):

    # setting sum to 0
    sum = 0

    # as numbers contains 'n' digits we need to initialize the order variable
    order = len(str(num))

    temp = num

    while temp > 0:
        digit = temp % 10
        sum += digit ** order
        temp //= 10

    if num == sum:
        print(num)

153
370
371
407
1634
8208
9474
54748
92727
93084

# 6.	Write a Python Program to Find the Sum of Natural Numbers?

In [2]:
num = int(input('Enter the desired number '))

#natural number sum formula is num*(num+1)/2

print(int(num*(num+1)/2))

Enter the desired number 16
136